* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
background-color: #343A40 ;
position: static;
top: 0;
left: 0;
width: 100%;
padding: 5px 50px;
display: flex;
justify-content: space-between;
align-items: center;

}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin: 5px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 0 25px;
    color: white;
    border-radius: 20px;
}